.contacts {
    position: relative;
    &__container {
    }

    &__bg-undertitle {
        position: absolute;
        top: -250px;
        left: 0;
    }

    &__subtitle {
    }

    &__columns {
        display: grid;
        grid-template-columns: minmax(0, 50.6%) minmax(0, 49.4%);
        margin-top: 26px;
        gap: 20px;
    }

    &__content {
        max-width: 749px;
        &_title {
            color: var(--brown);
        }

        &_text {
            margin: 48px 0px;
            max-width: 680px;
        }
    }

    &__img {
        img {
            width: 100%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &_title {
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 12px;
        }

        &_input {
            max-width: 680px;
        }

        &_condifential {
            margin-top: 20px;
            a {
                color: var(--gold);
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        &_submit {
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 400;
            display: flex !important;
            align-items: center !important;
            gap: 2px;
            position: relative;
            height: 50px;
            background: var(--gold-gradient);
            max-width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);
            transition: 0.3s ease all;
            margin-top: 4px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--white);
                transition: 0.3s ease all;
                opacity: 0;
                visibility: hidden;
            }
            svg {
                transition: 0.3s ease all;
                path {
                    transition: 0.3s ease all;
                }
            }
            span {
                z-index: 1;
            }
            &:hover {
                span {
                    color: var(--gold);
                }
                svg {
                    transform: rotate(45deg);
                    path {
                        stroke: var(--gold);
                    }
                }
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &:active {
                span {
                    color: var(--white);
                }
                svg {
                    path {
                        stroke: var(--white);
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--gold-dark);
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .contacts {

        margin: 132px 0px 0px 0px;

        &__container {
        }

        &__subtitle {
        }

        &__bg-undertitle {
            position: absolute;
            top: -175px;
            left: 0;
        }

        &__columns {
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 24px;
            gap: 20px;
        }

        &__content {
            max-width: 749px;
            &_title {
                color: var(--brown);
            }

            &_text {
                margin: 32px 0px 24px 0px;
                max-width: 680px;
            }
            & > img {
                width: 100%;
                margin-bottom: 24px;
            }
        }

        &__img {
            img {
                width: 100%;
            }
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &_title {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 12px;
            }

            &_input {
                max-width: 680px;
            }

            &_condifential {
                margin-top: 20px;
                font-size: 14px;
                line-height: 1.4;
                a {
                    color: var(--gold);
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &_submit {
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 400;
                display: flex !important;
                align-items: center !important;
                gap: 2px;
                position: relative;
                height: 50px;
                background: var(--gold-gradient);
                max-width: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--white);
                transition: 0.3s ease all;
                margin-top: 4px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--white);
                    transition: 0.3s ease all;
                    opacity: 0;
                    visibility: hidden;
                }
                svg {
                    transition: 0.3s ease all;
                    path {
                        transition: 0.3s ease all;
                    }
                }
                span {
                    z-index: 1;
                }
                &:hover {
                    span {
                        color: var(--gold);
                    }
                    svg {
                        transform: rotate(45deg);
                        path {
                            stroke: var(--gold);
                        }
                    }
                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &:active {
                    span {
                        color: var(--white);
                    }
                    svg {
                        path {
                            stroke: var(--white);
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: var(--gold-dark);
                    }
                }
            }
        }
    }
}
