.design {
    position: relative;
    margin: 200px 0px 0px 0px;
    padding-bottom: 128px;
    background: linear-gradient(180deg, #ffffff 0%, #f5f2ef 27.41%);

    &__container {
    }

    &__bg-undertitle {
        bottom: 100px;
        left: 0;
    }

    &__bg-title {
        position: absolute;
        top: -250px;
        right: -40%;
        white-space: nowrap;
    }

    &__subtitle {
    }

    &__title {
        margin: 24px 0px 72px 0px;
        max-width: 1098px;
    }

    &__advantages {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    &__advantage {
        &_item {
            display: grid;
            grid-template-columns: minmax(0, 9%) minmax(0, 25%) minmax(0, auto) minmax(
                    0,
                    26%
                );
            gap: 10px;
            padding-bottom: 72px;
            position: relative;
            &::after {
                transition: 1.5s ease all;
                width: 0;
            }
            &.active {
                &::after {
                    width: 100%;
                }
            }
            &:not(:last-child) {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    background-color: rgba($color: #7a5e48, $alpha: 0.2);
                }

            }
        }

        &_item-num {
            font-size: 16px;
            font-weight: 400;
            color: var(--gold);
        }

        &_item-name {
            font-size: 24px;
            font-weight: 400;
            line-height: 1.2;
            color: var(--brown);
            max-width: 341px;
        }

        &_item-list {
            display: flex;
            flex-direction: column;
            gap: 24px;
            font-size: 18px;
            font-weight: 300;
            color: var(--black);
            line-height: 1.4;
            max-width: 539px;
            ul {
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-weight: 400;
                line-height: 1.4;
                li {
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;
                    img {
                        margin-top: 6px;
                    }
                }
            }
        }

        &_item-image {
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .design {
        position: relative;
        margin: 100px 0px 0px 0px;

        &__container {
        }

        &__bg-title {
            position: absolute;
            top: -180px;
            right: -150%;
            white-space: nowrap;
        }

        &__subtitle {
        }

        &__title {
            margin: 24px 0px 48px 0px;
            max-width: inherit;
        }

        &__advantages {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        &__advantage {
            &_item {
                display: grid;
                grid-template-columns: minmax(0, 7%) minmax(0, 93%);
                gap: 24px;
                padding-bottom: 32px;
                border-bottom: 1px solid rgba($color: #7a5e48, $alpha: 0.2);
                &:not(:last-child) {
                    border-bottom: 1px solid rgba($color: #7a5e48, $alpha: 0.2);
                }
            }

            &_item-num {
                font-size: 16px;
                font-weight: 400;
                color: var(--gold);
            }

            &_item-name {
                font-size: 24px;
                font-weight: 500;
                line-height: 1.2;
                color: var(--brown);
                max-width: 341px;
                margin-top: -10px;
            }

            &_item-list {
                display: flex;
                flex-direction: column;
                gap: 24px;
                font-size: 18px;
                font-weight: 400;
                color: var(--black);
                line-height: 1.4;
                max-width: 539px;
                grid-column-start: 1;
                grid-column-end: 3;
                order: 4;
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    font-weight: 400;
                    line-height: 1.4;
                    li {
                        display: flex;
                        gap: 12px;
                    }
                }
            }

            &_item-image {
                grid-column-start: 1;
                grid-column-end: 3;
                order: 3;
                img {
                    width: 100%;
                }
            }
        }
    }
}
