.facade {
    margin: 200px 0px 200px 0px;
    background: var(--green-gradient);
    color: var(--white);
    &__container {
        position: relative;
    }

    &__content {
        max-width: 40%;
        margin-top: 137px;
        margin-right: 150px;
        float: right;
        margin-bottom: -280px;
    }

    &__title {
        max-width: 540px;
        margin-bottom: 48px;
        line-height: 1.2;
        font-weight: 450;
    }

    &__text {
        font-weight: 300;
    }

    &__cta {
        z-index: 2;
        position: absolute;
        bottom: -15px;
        left: 15x;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        .cta {
            fill: var(--green);
            background: none;
            background-color: rgba($color: #fff, $alpha: 0.6);
            text {
                color: var(--green);
            }
        }
        .cta-arrow path {
            fill: var(--gold);
        }
    }

    &__swiper {
        margin-bottom: -125px;
        width: 100%;
        overflow: hidden;
    }

    &__wrapper {
        display: inline-flex;
        align-items: flex-end;
        height: 495px;
    }

    &__pagination {
        color: var(--black);
        display: flex;
        justify-content: center;
        flex: 0 0 32px;
    }

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 84px;
        margin-top: 24px;
        &_next,
        &_prev {
            cursor: pointer;
        }
    }

    &__slide {
        display: flex;
        align-items: flex-end;
        height: 300px;
        transition: 0.6s ease-in-out width;
        margin-bottom: -120px;
        flex-shrink: 0;
        user-select: none;

        position: relative;
        width: 320px;
        height: 300px;
        flex-shrink: 0;
        margin-bottom: -120px;
        overflow: visible;
        transition: 0.6s ease-in-out all;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 0.3s ease all;

            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: width 0.5s ease, height 0.5s ease;
            will-change: width, height;
        }
        &.swiper-slide-active {
            z-index: 1;
            transform-origin: left bottom;
            transform: scale(2.05);
            img {
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 767px) {
    .facade {
        margin: 132px 0px 200px 0px;
        background: var(--green-gradient);
        color: var(--white);
        &__container {
            position: relative;
        }

        &__content {
            max-width: inherit;
            margin-top: 66px;
            margin-right: inherit;
            float: right;
            margin-bottom: -280px;
        }

        &__title {
            max-width: 540px;
            margin-bottom: 32px;
            line-height: 1.2;
            font-weight: 450;
        }

        &__text {
            font-weight: 300;
        }

        &__cta {
            z-index: 2;
            position: absolute;
            bottom: -15px;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            .cta {
                fill: var(--green);
                background: none;
                background-color: rgba($color: #fff, $alpha: 0.6);
                text {
                    color: var(--green);
                }
            }
            .cta-arrow path {
                fill: var(--gold);
            }
        }

        &__swiper {
            margin-bottom: -125px;
            width: 100%;
            overflow: inherit;
        }

        &__wrapper {
            display: inline-flex;
            align-items: flex-end;
            height: 495px;
        }

        &__pagination {
            color: var(--black);
            display: flex;
            justify-content: center;
            flex: 0 0 32px;
        }

        &__navigation {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 64px;
            margin-top: 24px;
            &_next,
            &_prev {
                cursor: pointer;
            }
        }

        &__slide {
            display: flex;
            align-items: flex-end;
            height: 300px;
            transition: 0.6s ease-in-out width;
            margin-bottom: -120px;
            flex-shrink: 0;
            user-select: none;

            position: relative;
            width: 320px;
            height: 292px;
            flex-shrink: 0;
            margin-bottom: -120px;
            overflow: visible;
            transition: 0.6s ease-in-out all;
            img {
                height: 100%;
                width: inherit;
                object-fit: cover;
                transition: 0.3s ease all;

                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: width 0.5s ease, height 0.5s ease;
                will-change: width, height;
            }
            &.swiper-slide-active {
                z-index: 1;
                transform-origin: left bottom;
                transform: scale(1);
                img {
                    object-fit: cover;
                }
            }
        }
    }
}
