.footer {
    margin-top: 100px;
    padding: 48px 0px;
    border-top: 1px solid rgba($color: #72584f, $alpha: 0.3);
    &__container {
    }

    &__columns {
        display: flex;
        justify-content: space-between;
    }

    &__navbar {
        flex: 0 1 40%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 18px;
        &_item {
            a {
                font-size: 14px;
                line-height: 1.2;
                color: rgba($color: #72584f, $alpha: 0.6);
                text-transform: uppercase;
                font-weight: 500;
                transition: 0.3s ease all;
                &:hover {
                    color: var(--brown);
                }
            }
        }
    }

    &__info {
        flex: 0 1 20%;
        display: flex;
        flex-direction: column;
        text-align: center;

        &_logo {
        }

        &_number {
            margin: 36px 0px 21px;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.4;
        }

        &_up {
            width: 52px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid rgba($color: #72584f, $alpha: 0.25);
            margin: 0 auto;
        }
    }

    &__links {
        text-align: right;
        flex: 0 1 40%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        &_item {
            display: flex;
            flex-direction: column;
            gap: 6px;
            span {
                color: rgba($color: #72584f, $alpha: 0.6);
                font-size: 14px;
                line-height: 1.2;
                font-weight: 500;
                text-transform: uppercase;
            }
            p {
                font-size: 16px;
                line-height: 1.4;
                font-weight: 450;
                color: var(--black);
            }
            a {
                font-size: 14px;
                line-height: 1.2;
                font-weight: 500;
                text-transform: uppercase;
                color: rgba($color: #72584f, $alpha: 0.6);
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &__dev {
        margin-top: 20px;
        display: flex;

        &_info {
            flex: 0 1 40%;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
        }

        &_conf {
            flex: 0 1 20%;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }

        &_inweb {
            flex: 0 1 40%;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            gap: 4px;
        }
    }
}
@media (max-width: 767px) {
    .footer {
        margin-top: 132px;
        padding: 0;
        border-top: none;
        &__container {
        }

        &__columns {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-top: 1px solid rgba($color: #72584f, $alpha: 0.3);
            padding: 48px 0px;
        }

        &__navbar {
            flex: 0 1 40%;
            order: 1;
            text-align: center;
            padding: 48px 0px;
            margin-bottom: 48px;
            border-bottom: 1px solid rgba($color: #72584f, $alpha: 0.6);
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 18px;
            &_item {
                a {
                    font-size: 14px;
                    line-height: 1.2;
                    color: rgba($color: #72584f, $alpha: 0.6);
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }

        &__info {
            flex: 0 1 20%;
            display: flex;
            flex-direction: column;
            text-align: center;
            order: 0;

            &_logo {
            }

            &_number {
                margin: 36px 0px 21px;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.4;
            }

            &_up {
                width: 52px;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid rgba($color: #72584f, $alpha: 0.25);
                margin: 0 auto;
            }
        }

        &__links {
            text-align: center;
            flex: 0 1 40%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            order: 2;
            &_item {
                display: flex;
                flex-direction: column;
                gap: 6px;
                span {
                    color: rgba($color: #72584f, $alpha: 0.6);
                    font-size: 14px;
                    line-height: 1.2;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                p {
                    font-size: 16px;
                    line-height: 1.4;
                    font-weight: 450;
                    color: var(--black);
                }
                a {
                    font-size: 14px;
                    line-height: 1.2;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: rgba($color: #72584f, $alpha: 0.6);
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        &__dev {
            order: 2;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 140px;

            &_info {
                flex: 0 1 40%;
                font-size: 14px;
                font-weight: 300;
                text-transform: uppercase;
                text-align: center;
            }

            &_conf {
                flex: 0 1 20%;
                text-align: center;
                font-size: 14px;
                font-weight: 300;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }

            &_inweb {
                flex: 0 1 40%;
                align-items: center;
                display: flex;
                justify-content: center;
                gap: 4px;
            }
        }
    }
}
