.gallery {
    position: relative;
    margin: 200px 0px 200px 0px;
    background-color: inherit;

    &__bg-title {
        position: absolute;
        top: -200px;
        right: 5%;
    }

    &__swiper {
        width: 100%;
        overflow: hidden;
    }

    &__wrapper {
        display: inline-flex;
        align-items: flex-end;
        height: 495px;
    }

    &__slide {
        display: flex;
        align-items: flex-end;
        height: 300px;
        transition: 0.6s ease-in-out width;
        margin-bottom: -120px;
        flex-shrink: 0;
        user-select: none;

        position: relative;
        width: 320px;
        height: 300px;
        flex-shrink: 0;
        margin-bottom: -120px;
        overflow: visible;
        transition: 0.6s ease-in-out all;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 0.3s ease all;

            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: width 0.5s ease, height 0.5s ease;
            will-change: width, height;
        }
        &.swiper-slide-active {
            z-index: 1;
            transform-origin: left bottom;
            transform: scale(2.05);
            img {
                object-fit: cover;
            }
        }
    }

    &__subtitle {
    }

    &__content {
        margin-right: 250px;
    }
}
@media (max-width: 767px) {
    .gallery {
        position: relative;
        margin: 132px 0px 0px 0px;
        background-color: inherit;

        &__bg-title {
            position: absolute;
            top: -180px;
            right: 5%;
        }

        &__title {
            font-weight: 500;
        }

        &__wrapper {
            display: inline-flex;
            align-items: flex-end;
            height: inherit;
        }

        &__swiper {
            width: 100%;
            overflow: inherit;
        }

        &__slide {
            display: flex;
            align-items: flex-end;
            height: 220px;
            transition: 0.6s ease-in-out width;
            margin-bottom: -120px;
            flex-shrink: 0;
            user-select: none;

            position: relative;
            width: 320px;
            flex-shrink: 0;
            margin-bottom: -120px;
            overflow: visible;
            transition: 0.6s ease-in-out all;
            img {
                height: 100%;
                width: inherit;
                object-fit: cover;
                transition: 0.3s ease all;

                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: width 0.5s ease, height 0.5s ease;
                will-change: width, height;
            }
            &.swiper-slide-active {
                z-index: 1;
                transform-origin: left bottom;
                transform: scale(1);
                img {
                    object-fit: cover;
                }
            }
        }

        &__subtitle {
            margin-bottom: 24px;
        }

        &__content {
            margin-right: 0px;
            margin: 0;
        }
    }
}
