.header {

    color: var(--white);
    padding: 30px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper {
        flex: 0 0 40%;
    }
    &__burger {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: flex-end;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4%;
        text-transform: uppercase;
        line-height: 1.4;
    }

    &__logo {
    }

    &__switcher {
        flex: 0 0 20%;
        text-align: right;
        padding-right: 100px;
        font-weight: 500;
    }

    &__choose {
        flex: 0 0 20%;
    }
}
