.main {
    background-image: url(../img/jpg/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 20px 0px 20px;
    color: var(--white);
    display: flex;
    align-items: center;
    height: 910px;

    &__container {
        flex: 1 1 auto;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 155px 0px 0px 0px;
    }

    &__titlebox {
        display: flex;
        flex-direction: column;
        gap: 42px;
        h1 {
            font-size: 72px;
            line-height: 1.2;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-weight: 400;
            max-width: 1004px;
        }
        p {
            font-size: 28px;
            font-weight: 300;
            line-height: 1.4;
            color: var(--white);
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 36px;
        &_view {
            position: relative;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            text-align: center;
            position: relative;
            width: 133px;
            height: 133px;
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(2.5px);

            &:hover {
                span {
                    opacity: 1;
                    visibility: visible;
                    letter-spacing: 1.5px;
                }
                img {
                    top: 20px;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-image: url(../img/png/border.png);
                background-size: cover;
                background-position: center;
            }

            span {
                opacity: 0;
                visibility: hidden;
                transition: 0.6s ease all;
                font-size: 11px;
                text-transform: uppercase;
                position: absolute;
                bottom: 23px;
                line-height: 140%;
                letter-spacing: 10%;


                display: flex;
                text-align: center;
                width: 100%;
                justify-content: center;
            }
            img {
                width: 56px;
                height: 56px;
                position: absolute;
                top: calc(50% - 28px);
                left: calc(50% - 28px);
                transition: 0.6s ease all;
            }
        }
    }
}

@media (max-width: 767px) {
    .main {
        background-image: url(../img/jpg/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 13%;
        margin: 16px 16px 0px 16px;
        color: var(--white);
        display: flex;
        align-items: center;
        height: inherit;

        &__container {
            flex: 1 1 auto;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 173px 0px 0px 0px;
        }

        &__titlebox {
            display: flex;
            flex-direction: column;
            gap: 32px;
            h1 {
                font-size: 36px;
                line-height: 1.2;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                font-weight: 400;
                max-width: 1004px;
            }
            p {
                font-size: 28px;
                font-weight: 300;
                line-height: 1.4;
                color: var(--white);
            }
            .choose {
                max-width: 236px;
                font-size: 13px;
                margin-top: 4px;
                display: flex !important;
            }
        }

        &__buttons {
            display: flex;
            flex-direction: row;
            gap: 12px;
            margin-top: 75px;
            margin-bottom: 24px;
            &_view {
                position: relative;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                text-align: center;
                position: relative;
                width: 133px;
                height: 133px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: rgba(203, 203, 203, 0.2); // required for blur
                    filter: blur(1.5px);
                    -webkit-backdrop-filter: blur(10px); // Safari support
                }

                span {
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.6s ease all;
                }
                img {
                    width: 56px;
                    height: 56px;
                    position: absolute;
                    top: calc(50% - 28px);
                    left: calc(50% - 28px);
                }
            }
        }
    }
}
