.main {
    background-image: url(../img/jpg/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    &__container {
    }

    &__content {
    }

    &__titlebox {
    }

    &__buttons {

        &_cta {
        }
    }
}
