.menu {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 37vw;
    height: 100vh;
    background-color: var(--green);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease all;

    &.active {
        visibility: visible;
        opacity: 1;

        .menu__img {
            visibility: visible;
            opacity: 1;
            right: 0%;
            img {
            }
        }

        .menu__list {
            transform: translateY(0px);
            visibility: visible;
            opacity: 1;
        }
    }
    &__container {
        height: 100%;
    }

    &__nav {
        display: flex;
        align-items: center;
        height: 100%;
        max-width: 450px;
        margin-left: 120px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        transform: translateY(-20px);
        opacity: 0;
        visibility: hidden;
        transition: 0.6s ease all;

        &_item {
            a {
                color: var(--white);
                text-transform: uppercase;
                font-size: 40px;
                font-weight: 600;
                letter-spacing: 6px;
                display: flex;
                width: 100%;
                transition: 0.3s ease all;
                position: relative;
                &:hover {
                    color: var(--gold);
                    &::after {
                        width: 100%;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -12px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: var(--gold);
                    transition: 0.3s ease all;
                }
            }
        }

        &_choose {
            margin-top: 30px;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        right: -60%;
        width: 60%;
        height: 100%;
        transition: 0.6s ease all;
        opacity: 0;
        visibility: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 767px) {
    .menu {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--green);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease all;

        &.active {
            visibility: visible;
            opacity: 1;

            .menu__img {
                visibility: visible;
                opacity: 1;
                right: 0%;
                img {
                }
            }
            .menu__list {
                transform: translateY(0px);
                visibility: visible;
                opacity: 1;
            }
        }
        &__container {
            height: 100%;
        }

        &__nav {
            display: flex;
            align-items: inherit;
            height: 100%;
            max-width: 550px;
            padding: 128px 16px 0px;
            margin-left: auto;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 100%;
            transform: translateY(-20px);
            opacity: 0;
            visibility: hidden;
            transition: 0.6s ease all;

            &_item {
                a {
                    color: var(--white);
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: 0.012em;
                    display: flex;
                    width: 100%;
                    transition: 0.3s ease all;
                    position: relative;
                    &:hover {
                        color: var(--gold);
                        &::after {
                            width: 100%;
                        }
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -12px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: var(--gold);
                        transition: 0.3s ease all;
                    }
                }
            }

            &_choose {
                margin-top: 13px;
            }
        }

        &__img {
            position: absolute;
            top: 530px;
            right: 0%;
            width: 100%;
            height: inherit;
            max-height: 322px;
            transition: 0.6s ease all;
            opacity: 0;
            visibility: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}
