.popup {    

    &__box {
        position: fixed;
        top: 0;
        right: -30%;
        max-width: 618px;
        background-color: var(--white);
        z-index: 5;
        height: 100vh;
        padding: 50px 68px 50px 48px;

        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease all;
        &.active {
            opacity: 1;
            visibility: visible;
            right: 0;
        }
    }

    &__close {
        position: fixed;
        top: 50px;
        right: 68px;
        cursor: pointer;
    }

    &__title {
        padding: 229px 0px 24px 0px;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 450;
        margin-bottom: 36px;
        line-height: 1;
    }

    &__forms {
        display: flex;
        flex-direction: column;
        gap: 12px;
        input {
            height: 50px;
            border-bottom: 1px solid rgba($color: #464646, $alpha: 0.3);
            &::placeholder {
                font-size: 16px;
                color: var(--black);
                font-weight: 300;
            }
        }
    }

    &__confidential {
        color: var(--black);
        margin: 24px 0px 16px 0px;
        font-size: 12px;
        line-height: 1.4;
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__send {
    }

    &__overlay {
    }
}

@media (max-width: 767px) {
    .popup {
        &__box {
            position: fixed;
            top: 80px;
            right: -30%;
            max-width: 618px;
            background-color: var(--white);
            z-index: 4;
            height: 100%;
            padding: 150px 32px 32px 32px;

            visibility: hidden;
            opacity: 0;
            transition: 0.3s ease all;
            &.active {
                opacity: 1;
                visibility: visible;
                right: 0;
            }
        }
        &__close {
            position: fixed;
            top: 128px;
            right: 32px;
            cursor: pointer;
        }
        &__title {
            padding: 0px 0px 24px 0px;
        }
        &__subtitle {
            font-size: 18px;
            font-weight: 450;
            margin-bottom: 36px;
            line-height: 1.2;
        }
        &__forms {
            display: flex;
            flex-direction: column;
            gap: 12px;
            input {
                height: 50px;
                border-bottom: 1px solid rgba($color: #464646, $alpha: 0.3);
                &::placeholder {
                    font-size: 16px;
                    color: var(--black);
                    font-weight: 300;
                }
            }
        }
        &__confidential {
            color: var(--black);
            margin: 24px 0px 16px 0px;
            font-size: 12px;
            line-height: 1.4;
            a {
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &__send {
        }
        &__overlay {
        }
    }
}
