.target {
    position: relative;
    background-color: rgba(85, 69, 63, 1);
    color: var(--white);
}

.pin-spacer-wrapper {
    position: relative;
}

.target__animation-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.target__expanded-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/jpg/target-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    filter: brightness(0.7);
    will-change: transform, filter, clip-path;
    clip-path: polygon(20% 30%, 80% 30%, 80% 70%, 20% 70%);
}

.target__container {
    position: relative;
    z-index: 10;
    max-width: 1200px;
    margin: 0 auto;
    padding: 78px 40px 100px 40px !important;
    opacity: 0; 
    visibility: hidden; 
    margin-top: 78px;
}

.target__subtitle {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 350;
    margin-bottom: 31px;
    
    svg {
        flex-shrink: 0;
    }
}

.target__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.target__content {
    &_title {
        font-size: 48px;
        font-weight: 450;
        line-height: 1.2;
    }
}

.target__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.target__item {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 2px;
    border: 1px solid rgba(#fff, 0.5);
    height: 96px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0px 32px;
    max-width: 550px;
    font-size: 24px;
    
    img {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }
}

@media (max-width: 767px) {
    .target {
        background-image: url(../img/jpg/target-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 800px;
    }

    .target__expanded-bg {
        display: none;
    }

    .target__subtitle {
        font-weight: 350;
        margin-bottom: 24px;
        
        svg {
            flex-shrink: 0;
        }
    }

    .target__animation-container {
        height: auto;
        min-height: 800px;
    }

    .target__container {
        padding: 66px 20px 40px 20px !important;
        opacity: 1;
        visibility: visible;
    }

    .target__columns {
        grid-template-columns: 1fr;
        gap: 72px;
    }

    .target__content {
        &_title {
            font-size: 32px;
        }
    }

    .target__item {
        font-size: 18px;
        height: 120px;
        padding: 0px 32px;
    }
}