.up {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &__container {
        z-index: 12;
        position: relative;
        height: 100%;
    }

    &__up {
        position: absolute;
        right: -68px;
        height: 100%;
        top: calc(50vh - 24px);
        svg {
            pointer-events: all;
            cursor: pointer;
            border-radius: 50%;

            rect:nth-child(2) {
                transition: 0.3s ease all;
            }
            &:hover {
                rect:nth-child(2) {
                    stroke-opacity: 0.8;
                }
            }
        }
        #scroll-border {
            stroke-dasharray: 100;
            stroke-dashoffset: 100;
            transform-origin: center;
            transform: rotate(-90deg);
        }
    }
}
