@keyframes rotateText {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.choose {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: rgba($color: #000, $alpha: 0.15);
    height: 50px;
    border: 1px solid #fff;
    font-weight: 400;
    transition: 0.3s ease-in-out all;
    max-width: 236px;
    font-size: 13px;
    position: relative;

    svg path {
        transition: 0.6s ease all;
    }

    svg {
        transition: 0.6s ease all;
    }

    &:hover {
        background-color: #fff;
        color: var(--gold);
        border-color: var(--gold);
        svg path {
            fill: var(--gold);
        }
        svg {
            transform: rotate(90deg);
        }
    }
    &.golden {
        background: var(--gold-gradient);
        color: var(--white);
        border: none;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--white);
            z-index: 0;
            opacity: 0;
            transition: 0.3s ease all;
        }
    }
}
.choose.golden:hover {
    border: 1px solid var(--gold);
    color: var(--gold);
    span {
        z-index: 1;
    }
    &::before {
        opacity: 1;
    }
    svg path {
        fill: var(--gold);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease all;
    z-index: 2;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}
.bg-title,
.bg-title-bottom {
    position: absolute;
    transform: translate(-80px, 80px);
    opacity: 0;
    will-change: transform, opacity;

    font-size: 128px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    color: #72584f29;

    transition: opacity 0.6s ease-out;
}
.bg-title {
    top: 0;
    right: -4%;
}
.bg-title-bottom {
    bottom: -74px;
    left: 0;
    transform: translate(-80px, 80px);
    opacity: 0;
    will-change: transform, opacity;
    opacity: 1;
}

.bg-title.is-visible {
    transform: translate(-50%, 80px);
    opacity: 1;
}

.title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
}

.text {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 450;
}
.text-gold {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--gold);
}

.button {
    background: var(--gold-gradient);
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 13px;
    font-weight: 450;
    color: var(--white);
    display: inline-flex;
    padding: 0px 16px;
    height: 50px;
    text-transform: uppercase;
    border: 1px solid var(--gold);
    position: relative;
    transition: 0.3s ease all;

    span {
        z-index: 1;
    }
    svg {
        z-index: 1;
        transition: 0.3s ease all;
    }
    svg path {
        transition: 0.3s ease all;
    }
    &:hover {
        color: var(--gold);
        border: 1px solid var(--gold);
        svg {
            transform: rotate(45deg);
        }
        svg path {
            stroke: var(--gold);
        }
        &::before {
            opacity: 1;
            visibility: visible;
        }
    }
    &:active {
        &::before {
            opacity: 1;
            visibility: visible;
            background-color: var(--gold-dark);
        }
        color: var(--white);
        svg path {
            stroke: var(--white);
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease all;
    }
}

.subtitle {
    display: flex;
    align-items: center;
    gap: 6px;
    span {
        color: var(--gold);
    }
}

.cta__box {
    width: 133px;
    height: 133px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .main__buttons_cta-arrow {
        z-index: 1;
        transition: 0.3s ease all;
    }
    &:hover {
        .main__buttons_cta-arrow {
            transform: rotate(45deg);
        }
    }
}
.cta {
    background: var(--gold-gradient);
    border-radius: 50%;
    position: absolute;
    padding: 4px;
    width: 133px;
    height: 133px;
    font-weight: 300;
    fill: white;
    font-size: 17px;
    letter-spacing: 4px;
    text-transform: uppercase;
    pointer-events: none;
    animation: rotateText 16s linear infinite;
    text {
        font-family: inherit;
    }
}

.mobile-only {
    display: none !important;
}
.desktop-only {
    display: block;
}
@media (max-width: 767px) {
    .text-gold {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        color: var(--gold);
    }
    .bg-title {
        position: absolute;
        top: -44px;
        right: -4%;
        transform: translate(-80px, 80px);
        opacity: 0;
        will-change: transform, opacity;

        font-size: 64px;
        line-height: 1;
        font-weight: 500;
        text-transform: uppercase;
        color: #72584f29;

        transition: opacity 0.6s ease-out;
    }
    .bg-title-bottom {
        font-size: 64px;
        bottom: -13px;
        left: -4%;
    }
    .mobile-only {
        display: block !important;
    }
    .desktop-only {
        display: none !important;
    }
    .title {
        font-size: 30px;
        font-weight: 500;
        line-height: 1.2;
    }
    .text {
        font-size: 16px;
    }
}
