:root {
	// Семейство шрифта по умолчанию
	--suisse: suisse;
	--gilroy: gilroy;


	// Цвет шрифта по умолчанию
	--white: #ffffff;
	--black: #464646;
	--grey: #DEDEDE;
	--brown: #72584F;
	--light-brown: #F5F2EF;
	--gold: #D8B86F;
	--gold-dark: #9F823C;
	--gold-gradient: linear-gradient(94.18deg, #9F823C 0%, #D8B86F 62.68%);
	--green: #40664C;
	--green-gradient: linear-gradient(267.47deg, #40664C 0.98%, #709471 75.13%);

	--radius: 15px;

	//ROOT COLORS
	--transition: 0.3s ease all;
	--primary-color: #131313;
}