<section class="building">
    <img class="building__bg" src="../img/jpg/building.jpg" alt="building" />

    <svg
        data-index="2"
        class="building__2 active"
        width="523"
        height="117"
        viewBox="0 0 523 117"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0 12.5V61.5L165.5 52.5L522.5 117V90L165.5 0L0 12.5Z"
            fill="#D8B86F"
            fill-opacity="0"
        />
    </svg>
    <svg
        data-index="3"
        class="building__3"
        width="523"
        height="150"
        viewBox="0 0 523 150"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0 17.5V66L165.5 53L522.5 149.5V121.5L165.5 0L0 17.5Z"
            fill="#D8B86F"
            fill-opacity="0"
        />
    </svg>
    <svg
        data-index="4"
        class="building__4"
        width="523"
        height="181"
        viewBox="0 0 523 181"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0.000371069 21.5002L0 69.5002L165.5 52.5L522.5 180.5V152L165.5 0L0.000371069 21.5002Z"
            fill="#D8B86F"
            fill-opacity="0"
        />
    </svg>
    <svg
        data-index="5"
        class="building__5"
        width="523"
        height="212"
        viewBox="0 0 523 212"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0.000371069 25.5002L0 73.5002L165.5 51.5L522.5 211.5V184.5L165.5 0L0.000371069 25.5002Z"
            fill="#D8B86F"
            fill-opacity="0"
        />
    </svg>
    <svg
        data-index="6"
        class="building__6"
        width="523"
        height="243"
        viewBox="0 0 523 243"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0.000371069 29.5002L0 77.5002L165.5 51.5L522.5 242.5V215.5L165.5 0L0.000371069 29.5002Z"
            fill="#D8B86F"
            fill-opacity="0"
        />
    </svg>
    <svg
        data-index="7"
        class="building__7"
        width="523"
        height="274"
        viewBox="0 0 523 274"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0.000371069 34.5L0 82.0002L165.5 51.5L522.5 274V247.5L165.5 0L0.000371069 34.5Z"
            fill="#D8B86F"
            fill-opacity="0"
        />
    </svg>
    <svg
        data-index="8"
        class="building__8"
        width="523"
        height="306"
        viewBox="0 0 523 306"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0.000371069 38.5L0 85.5002L165.5 51L522.5 305.5V279L165.5 0L0.000371069 38.5Z"
            fill="#D8B86F"
            fill-opacity="0"
        />
    </svg>
    <svg
        data-index="9"
        class="building__9"
        width="523"
        height="337"
        viewBox="0 0 523 337"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0 43.0014V90.0002L165.5 50L522.5 336.5V310L165.5 0L0 43.0014Z"
            fill="#D8B86F"
            fill-opacity="0"
        />
    </svg>
    <svg
        data-index="10"
        class="building__10"
        width="523"
        height="369"
        viewBox="0 0 523 369"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0 47.4996V94.9998L165.5 51L522.5 368.5V342.5L165.5 0L0 47.4996Z"
            fill="#D8B86F"
            fill-opacity="0"
        />
    </svg>
    <svg
        data-index="11"
        class="building__11"
        width="290"
        height="298"
        viewBox="0 0 290 298"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0 5.5L10.5 16.5L19.4996 25.5L290 297.5V283L19.4996 0L0 5.5Z"
            fill="#D8B86F"
            fill-opacity="0"
        />
    </svg>

    <div class="building__popup" data-index="2">
        <div class="building__popup_title">
            <h3>2 <span>этаж</span></h3>
            <img src="../img/svg/vector-top-right.svg" alt="#" />
        </div>
        <div class="building__popup_item">
            <p>Количество офисов</p>
            <span>14</span>
        </div>
        <div class="building__popup_item">
            <p>Площадь офисов</p>
            <span>50 - 100 м²</span>
        </div>
    </div>
    <div class="building__popup" data-index="3">
        <div class="building__popup_title">
            <h3>3 <span>этаж</span></h3>
            <img src="../img/svg/vector-top-right.svg" alt="#" />
        </div>
        <div class="building__popup_item">
            <p>Количество офисов</p>
            <span>14</span>
        </div>
        <div class="building__popup_item">
            <p>Площадь офисов</p>
            <span>50 - 100 м²</span>
        </div>
    </div>
    <div class="building__popup" data-index="4">
        <div class="building__popup_title">
            <h3>4 <span>этаж</span></h3>
            <img src="../img/svg/vector-top-right.svg" alt="#" />
        </div>
        <div class="building__popup_item">
            <p>Количество офисов</p>
            <span>14</span>
        </div>
        <div class="building__popup_item">
            <p>Площадь офисов</p>
            <span>50 - 100 м²</span>
        </div>
    </div>
    <div class="building__popup" data-index="5">
        <div class="building__popup_title">
            <h3>5 <span>этаж</span></h3>
            <img src="../img/svg/vector-top-right.svg" alt="#" />
        </div>
        <div class="building__popup_item">
            <p>Количество офисов</p>
            <span>14</span>
        </div>
        <div class="building__popup_item">
            <p>Площадь офисов</p>
            <span>50 - 100 м²</span>
        </div>
    </div>
    <div class="building__popup" data-index="6">
        <div class="building__popup_title">
            <h3>6 <span>этаж</span></h3>
            <img src="../img/svg/vector-top-right.svg" alt="#" />
        </div>
        <div class="building__popup_item">
            <p>Количество офисов</p>
            <span>14</span>
        </div>
        <div class="building__popup_item">
            <p>Площадь офисов</p>
            <span>50 - 100 м²</span>
        </div>
    </div>
    <div class="building__popup" data-index="7">
        <div class="building__popup_title">
            <h3>7 <span>этаж</span></h3>
            <img src="../img/svg/vector-top-right.svg" alt="#" />
        </div>
        <div class="building__popup_item">
            <p>Количество офисов</p>
            <span>14</span>
        </div>
        <div class="building__popup_item">
            <p>Площадь офисов</p>
            <span>50 - 100 м²</span>
        </div>
    </div>
    <div class="building__popup" data-index="8">
        <div class="building__popup_title">
            <h3>8 <span>этаж</span></h3>
            <img src="../img/svg/vector-top-right.svg" alt="#" />
        </div>
        <div class="building__popup_item">
            <p>Количество офисов</p>
            <span>14</span>
        </div>
        <div class="building__popup_item">
            <p>Площадь офисов</p>
            <span>50 - 100 м²</span>
        </div>
    </div>
    <div class="building__popup" data-index="9">
        <div class="building__popup_title">
            <h3>9 <span>этаж</span></h3>
            <img src="../img/svg/vector-top-right.svg" alt="#" />
        </div>
        <div class="building__popup_item">
            <p>Количество офисов</p>
            <span>14</span>
        </div>
        <div class="building__popup_item">
            <p>Площадь офисов</p>
            <span>50 - 100 м²</span>
        </div>
    </div>
    <div class="building__popup" data-index="10">
        <div class="building__popup_title">
            <h3>10 <span>этаж</span></h3>
            <img src="../img/svg/vector-top-right.svg" alt="#" />
        </div>
        <div class="building__popup_item">
            <p>Количество офисов</p>
            <span>14</span>
        </div>
        <div class="building__popup_item">
            <p>Площадь офисов</p>
            <span>50 - 100 м²</span>
        </div>
    </div>
    <div class="building__popup" data-index="11">
        <div class="building__popup_title">
            <h3>11 <span>этаж</span></h3>
            <img src="../img/svg/vector-top-right.svg" alt="#" />
        </div>
        <div class="building__popup_item">
            <p>Количество офисов</p>
            <span>14</span>
        </div>
        <div class="building__popup_item">
            <p>Площадь офисов</p>
            <span>50 - 100 м²</span>
        </div>
    </div>
    <div class="building__levels">
        <span data-index="11">11</span>
        <span data-index="10">10</span>
        <span data-index="9">9</span>
        <span data-index="8">8</span>
        <span data-index="7">7</span>
        <span data-index="6">6</span>
        <span data-index="5">5</span>
        <span data-index="4">4</span>
        <span data-index="3">3</span>
        <span data-index="2">2</span>
    </div>
</section>
