<section class="comfort">
    <div class="comfort__container">
        <div class="comfort__subtitle subtitle animate-in">
            <img src="../img/svg/star.svg" alt="star" />
            <span>О проекте</span>
        </div>
        <div class="comfort__columns animate-in">
            <div class="comfort__titlebox">
                <div class="comfort__title title">Премиальный<br />комфорт</div>
                <div class="comfort__text text">
                    St. Peterburg Business Center — это прогрессивный деловой
                    центр, оснащённый одними из лучших систем комфорта. Для
                    резидентов и их гостей предусмотрена насыщенная
                    инфрастуктура.
                </div>
            </div>
            <div class="comfort__numbers">
                <div class="comfort__number">
                    <p data-target="11">0</p>
                    <span>Этажей</span>
                </div>
                <div class="comfort__number">
                    <p data-target="120">0</p>
                    <span>Офисных помещений</span>
                </div>
                <div class="comfort__number">
                    <p data-target="15000">0</p>
                    <span>Площадь здания</span>
                </div>
            </div>
        </div>
    </div>
</section>
