<section class="condition">
    <div class="condition__container">
        <div class="condition__grid">
            <div class="condition__img_small">
                <img src="../img/jpg/condition01.jpg" alt="condition">
            </div>
            <div class="condition__content">
                <div class="condition__subtitle subtitle">
                    <img src="../img/svg/star.svg" alt="star">
                    <span>О проекте</span>
                </div>
                <div class="condition__title title">
                    Лучшие условия для<br>людей и их работы
                </div>
                <div class="condition__bg-title bg-title">
                    о проекте
                </div>
                <div class="condition__bg-undertitle bg-title-bottom">о проекте</div>
                <div class="condition__text text">
                    <p>St. Peterburg Business Center — это новый символ современного делового Ташкента. 10 этажей офисных пространств с продуманной инженерией, экологичным окружением и панорамными видами создают идеальные условия для работы, встреч и развития.</p><br>
                    <p>На 11-м этаже расположена просторная терраса с захватывающими видами — место для отдыха, корпоративных мероприятий и вдохновения.</p>
                </div>
                <p class="condition__gold text-gold">Здесь архитектура – инструмент вдохновения</p>
                <a href="##" class="condition__choose choose golden">
                    <span>ВЫБРАТЬ ПОМЕЩЕНИЕ</span>
                    <svg
                        width="16"
                        height="16" 
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M9 7V0H7V7H0V9H7V16H9V9H16V7H9Z" fill="white" />
                    </svg>
                </a>
            </div>
            <div class="condition__img_big">
                <img src="../img/jpg/condition02.jpg" alt="condition">
            </div>
        </div>
    </div>
</section>