<section class="contacts" id="contacts">
    <div class="contacts__bg-undertitle bg-title-bottom">Контакты</div>
    <div class="contacts__container">
        <div class="contacts__subtitle subtitle">
            <img src="../img/svg/star.svg" alt="star" />
            <span>Контакты</span>
        </div>
        <div class="contacts__columns animate-in">
            <div class="contacts__content animate-in">
                <div class="contacts__content_title title">
                    Новая локация<br />для успешного бизнеса
                </div>
                <p class="contacts__content_text text">
                    Центр города Ташкента – 5 минут от метро Пахтакор и Tashkent
                    City Mall. Близость к главным магистралям города
                    обеспечивает удобную транспортную доступность и престиж
                    делового адреса.
                </p>
                <img class="mobile-only" src="../img/jpg/contacts-bg.jpg" alt="contacts-img ">
                <div class="contacts__form">
                    <div class="contacts__form_title">
                        Записаться на просмотр
                    </div>
                    <input
                        class="contacts__form_input input"
                        type="text"
                        placeholder="Имя"
                    />
                    <input
                        class="contacts__form_input input"
                        type="tel"
                        placeholder="Телефон"
                    />
                    <div class="contacts__form_condifential">
                        Нажимая на кнопку “Отправить заявку”, вы соглашаетесь с
                        <a href="##">Политикой конфиденциальности</a>
                    </div>
                    <a class="contacts__form_submit" href="##">
                        <span>отправить заявку</span>
                        <svg
                            width="32"
                            height="32"
                            viewBox="0 0 32 32"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M11 21L21 11M21 11H11M21 11V21"
                                stroke="white"
                                stroke-width="2"
                                stroke-linecap="square"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="contacts__img desktop-only">
                <img src="../img/jpg/contacts-bg.jpg" alt="contacts-img">
            </div>
        </div>
    </div>
</section>
