<section class="design">
    <div class="design__container">
        <div class="design__bg-title bg-title">архитектура и технологии</div>
        <div class="design__subtitle subtitle">
            <img src="../img/svg/star.svg" alt="star" />
            <span>Архитектура и технологии</span>
        </div>
        <div class="design__title title">
            Сочетание элегантного дизайна<br />и продуманной инженерной системы
        </div>
        <div class="design__advantages">
            <div class="design__advantage_item">
                <span class="design__advantage_item-num">01</span>
                <h3 class="design__advantage_item-name">
                    Энергоэффетивность класса «А»
                </h3>
                <div class="design__advantage_item-list">
                    <p>
                        Здание максимально энергоэффективно, с почти нулевым
                        энергопотреблением.
                    </p>
                    <ul>
                        Особенности зданий класса «А»:
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Хорошая теплоизоляция</span>
                        </li>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span
                                >Продуманное использование солнечного
                                света</span
                            >
                        </li>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Герметичные оконные пакеты</span>
                        </li>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Вентиляция с рекуперацией тепла</span>
                        </li>
                    </ul>
                </div>
                <div class="design__advantage_item-image">
                    <img src="../img/jpg/design01.jpg" alt="design" />
                </div>
            </div>
            <div class="design__advantage_item">
                <span class="design__advantage_item-num">02</span>
                <h3 class="design__advantage_item-name">
                    Интеллектуальный мониторинг энергопотребления
                </h3>
                <div class="design__advantage_item-list">
                    <p>
                        Система, которая позволяет контролировать потребление
                        энергии в режиме реального времени, повышать
                        энергоэффективность и снижать расходы на электроэнергию
                    </p>
                    <ul>
                        Особенности зданий класса «А»:
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Сбор данных</span>
                        </li>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Анализ энергопотребления</span>
                        </li>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Прогнозирование</span>
                        </li>
                    </ul>
                </div>
                <div class="design__advantage_item-image">
                    <img src="../img/jpg/design02.jpg" alt="design" />
                </div>
            </div>
            <div class="design__advantage_item">
                <span class="design__advantage_item-num">03</span>
                <h3 class="design__advantage_item-name">
                    Трёхуровневая вентиляция и очистка воздуха
                </h3>
                <div class="design__advantage_item-list">
                    <p>
                        Система, позволяющая поддержание постоянного притока
                        свежего воздуха и отвод загрязненного.
                    </p>
                    <ul>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Комфортный микроклимат</span>
                        </li>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span
                                >Снижение риска распространения вредных
                                веществ</span
                            >
                        </li>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span
                                >Сохранение долговечности здания за счет
                                предотвращения сырости и конденсата</span
                            >
                        </li>
                    </ul>
                </div>
                <div class="design__advantage_item-image">
                    <img src="../img/jpg/design03.jpg" alt="design" />
                </div>
            </div>
            <div class="design__advantage_item">
                <span class="design__advantage_item-num">04</span>
                <h3 class="design__advantage_item-name">
                    Климат-контроль последнего поколения
                </h3>
                <div class="design__advantage_item-list">
                    <p>
                        Система объединяет предиктивную аналитику, машинное
                        обучение, IoT-технологии и энергоменеджмент.
                    </p>
                    <ul>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Интеллектуальное зонирование</span>
                        </li>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Энергоэффективность нового уровня</span>
                        </li>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Прогностическое обслуживание</span>
                        </li>
                    </ul>
                </div>
                <div class="design__advantage_item-image">
                    <img src="../img/jpg/design04.jpg" alt="design" />
                </div>
            </div>
        </div>
    </div>
</section>
