<section class="design">
    <div class="design__container">
        <div class="design__subtitle">
            <img src="../img/svg/star.svg" alt="star" />
            <span>Архитектура и технологии</span>
        </div>
        <div class="design__title title">
            Сочетание элегантного дизайна и продуманной инженерной системы
        </div>
        <div class="design__advantages">
            <div class="design__advantage_item">
                <span class="design__advantage_item-num">01</span>
                <h3 class="design__advantage_item-name">
                    Энергоэффетивность класса «А»
                </h3>
                <div class="design__advantage_item-list">
                    <p>
                        Здание максимально энергоэффективно, с почти нулевым
                        энергопотреблением.
                    </p>
                    <ul>
                        Особенности зданий класса «А»:
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Хорошая теплоизоляция</span>
                        </li>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Продуманное использование солнечного света</span>
                        </li>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Герметичные оконные пакеты</span>
                        </li>
                        <li>
                            <img
                                src="../img/svg/golden-plus.svg"
                                alt="golden-plus"
                            /><span>Вентиляция с рекуперацией тепла</span>
                        </li>
                    </ul>
                </div>
                <div class="design__advantage_item-image"><img src="../img/jpg/design01.jpg" alt="design"></div>
            </div>
        </div>
    </div>
</section>
