<section class="facade animate-in">
    <div class="facade__container">
        <div class="facade__content animate-in">
            <div class="facade__title title">
                Фасад с панорамным и энергоэффективным остекленением
            </div>
            <div class="facade__text text">
                Естественное освещение, визуально соединяет внутреннее
                пространство с окружающим заповедником
            </div>
        </div>
        <div class="facade__swiper swiper-container">
            <div class="facade__wrapper swiper-wrapper">
                <div class="facade__slide swiper-slide">
                    <img src="../img/jpg/facade01.jpg" alt="facade" />
                </div>
                <div class="facade__slide swiper-slide">
                    <img src="../img/jpg/facade02.jpg" alt="facade" />
                </div>
                <div class="facade__slide swiper-slide">
                    <img src="../img/jpg/facade03.jpg" alt="facade" />
                </div>
                <div class="facade__slide swiper-slide">
                    <img src="../img/jpg/facade01.jpg" alt="facade" />
                </div>
                <div class="facade__slide swiper-slide">
                    <img src="../img/jpg/facade02.jpg" alt="facade" />
                </div>
                <div class="facade__slide swiper-slide">
                    <img src="../img/jpg/facade03.jpg" alt="facade" />
                </div>
            </div>
            <div class="facade__navigation">
                <span></span>
                    <svg
                        class="facade__navigation_prev"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M16 20L8 12L16 4"
                            stroke="#D8B86F"
                            stroke-width="2"
                            stroke-linejoin="round"
                        />
                    </svg>
                </span>
                <div class="facade__pagination swiper-pagination"></div>
                <span
                    ><svg
                        class="facade__navigation_next"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M16 12L16.7071 12.7071C17.0976 12.3166 17.0976 11.6834 16.7071 11.2929L16 12ZM8.70711 3.29289L8 2.58579L6.58579 4L7.29289 4.70711L8 4L8.70711 3.29289ZM8 20L8.70711 20.7071L16.7071 12.7071L16 12L15.2929 11.2929L7.29289 19.2929L8 20ZM16 12L16.7071 11.2929L8.70711 3.29289L8 4L7.29289 4.70711L15.2929 12.7071L16 12Z"
                            fill="#D8B86F"
                        />
                    </svg>
                </span>
            </div>
        </div>
        <a href="##" class="cta__box facade__cta">
            <svg class="main__buttons_cta cta" viewBox="0 0 200 200">
                <defs>
                    <path
                        id="circlePath"
                        d="M100,100 m-78,0 a78,78 0 1,1 156,0 a78,78 0 1,1 -156,0"
                    />
                </defs>
                <text>
                    <textPath
                        href="#circlePath"
                        startOffset="50%"
                        text-anchor="middle"
                    >
                        • ОСТАВИТЬ ЗАЯВКУ • ОСТАВИТЬ ЗАЯВКУ
                    </textPath>
                </text>
            </svg>
            <svg
                class="main__buttons_cta-arrow cta-arrow"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M0 0V1.95279H12.2928L0 14.2456L1.37672 15.6223L13.6695 3.32951V15.6223H15.6223V0H0Z"
                    fill="white"
                />
            </svg>
        </a>
    </div>
</section>
