<section class="facade">
    <div class="facade__container">
        <div class="facade__content">
            <div class="facade__title title">
                Фасад с панорамным и энергоэффективным остекленением
            </div>
            <div class="facade__text text">
                Естественное освещение, визуально соединяет внутреннее
                пространство с окружающим заповедником
            </div>
        </div>
        <div class="facade__swiper swiper-container">
            <div class="facade__wrapper swiper-wrapper">
                <div class="facade__slide swiper-slide">
                    <img src="../img/jpg/facade01.jpg" alt="facade" />
                </div>
                <div class="facade__slide swiper-slide">
                    <img src="../img/jpg/facade02.jpg" alt="facade" />
                </div>
                <div class="facade__slide swiper-slide">
                    <img src="../img/jpg/facade03.jpg" alt="facade" />
                </div>
                <div class="facade__slide swiper-slide">
                    <img src="../img/jpg/facade01.jpg" alt="facade" />
                </div>
                <div class="facade__slide swiper-slide">
                    <img src="../img/jpg/facade02.jpg" alt="facade" />
                </div>
                <div class="facade__slide swiper-slide">
                    <img src="../img/jpg/facade03.jpg" alt="facade" />
                </div>
            </div>
            <div class="facade__pagination swiper-pagination">

            </div>
        </div>
    </div>
</section>
