<footer class="footer">
    <div class="footer__container animate-in">
        
        <div class="footer__columns animate-in">
            <nav class="footer__navbar">
                <ul class="footer__list">
                    <li class="footer__list_item"><a href="##">о нас</a></li>
                    <li class="footer__list_item"><a href="##">услуги</a></li>
                    <li class="footer__list_item"><a href="##">новости</a></li>
                    <li class="footer__list_item"><a href="##">обратная связь</a></li>
                    <li class="footer__list_item"><a href="##">контакты</a></li>
                </ul>
            </nav>
            <div class="footer__info">
                <a class="footer__info_logo" href="##"><img src="../img/svg/footer-logo.svg" alt="logo"></a>
                <a href="tel:+998000000000" class="footer__info_number">+998 00 000 00 00</a>
                <a href="#main" class="footer__info_up">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 16L13.2929 10.7071C13.6834 10.3166 14.3166 10.3166 14.7071 10.7071L20 16" stroke="#72584F" stroke-opacity="0.18" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </a>
            </div>
            <div class="footer__links">
                <div class="footer__links_item">
                    <span>офис продаж и адрес проекта</span>
                    <p>г. Ташкент, ул. Алишера Навои 33</p>
                </div>
                <div class="footer__links_item">
                    <span>менеджер в telegram</span>
                    <p>@st.petersburg_bc_sales</p>
                </div>
                <div class="footer__links_item">
                    <a href="##">показать  на карте</a>
                </div>
            </div>
        </div>
        <div class="footer__dev ">
            <span class="footer__dev_info">© 2026 st.petersburg business center</span>
            <a href="##" class="footer__dev_conf">Политика конфиденциальности</a>
            <a href="https://inweb.uz/" target="_blank" class="footer__dev_inweb">
                Разрабoтка -
                <img src="../img/svg/inweb.svg" alt="inweb">
            </a>
        </div>
    </div>
</footer>