<section class="gallery" id="gallery">
    <div class="gallery__bg-title bg-title">Галерея</div>
    <div class="facade__container">
        <div class="facade__content gallery__content animate-in">
            <div class="gallery__subtitle subtitle">
                <img src="../img/svg/star.svg" alt="star">
                <span>Галерея</span>
            </div>
            <div class="facade__title gallery__title title">
                Как выглядит жизнь  в центре
            </div>
        </div>
        <div class="gallery__swiper swiper-container">
            <div class="gallery__wrapper swiper-wrapper">
                <div class="gallery__slide swiper-slide">
                    <img src="../img/jpg/gallery01.jpg" alt="facade" />
                </div>
                <div class="gallery__slide swiper-slide">
                    <img src="../img/jpg/gallery02.jpg" alt="facade" />
                </div>
                <div class="gallery__slide swiper-slide">
                    <img src="../img/jpg/gallery03.jpg" alt="facade" />
                </div>
                <div class="gallery__slide swiper-slide">
                    <img src="../img/jpg/facade01.jpg" alt="facade" />
                </div>
                <div class="gallery__slide swiper-slide">
                    <img src="../img/jpg/gallery02.jpg" alt="facade" />
                </div>
                <div class="gallery__slide swiper-slide">
                    <img src="../img/jpg/facade03.jpg" alt="facade" />
                </div>
            </div>
            <div class="facade__navigation">
                <span></span>
                    <svg
                        class="facade__navigation_prev"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M16 20L8 12L16 4"
                            stroke="#D8B86F"
                            stroke-width="2"
                            stroke-linejoin="round"
                        />
                    </svg>
                </span>
                <div class="facade__pagination swiper-pagination"></div>
                <span
                    ><svg
                        class="facade__navigation_next"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M16 12L16.7071 12.7071C17.0976 12.3166 17.0976 11.6834 16.7071 11.2929L16 12ZM8.70711 3.29289L8 2.58579L6.58579 4L7.29289 4.70711L8 4L8.70711 3.29289ZM8 20L8.70711 20.7071L16.7071 12.7071L16 12L15.2929 11.2929L7.29289 19.2929L8 20ZM16 12L16.7071 11.2929L8.70711 3.29289L8 4L7.29289 4.70711L15.2929 12.7071L16 12Z"
                            fill="#D8B86F"
                        />
                    </svg>
                </span>
            </div>
        </div>
    </div>
</section>
