<header class="header">
    <div class="header__container">
        <div class="header__wrapper">
            <div class="header__burger">
                <span>меню</span>
            </div>
        </div>
        <div class="header__logo">
            <a href="##"><img src="../img/svg/logo.svg" alt="logo" /></a>
        </div>
        <div class="header__switcher">
            <a href="##">UZ</a>
            <a href="##">RU</a>
        </div>
        <a href="##" class="header__choose choose">
            <span>ВЫБРАТЬ ПОМЕЩЕНИЕ</span>
            <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path d="M9 7V0H7V7H0V9H7V16H9V9H16V7H9Z" fill="white" />
            </svg>
        </a>
    </div>
</header>
