<section class="main">
    <div class="main__container">
        <div class="main__content">
            <div class="main__titlebox">
                <h1>современное бизнес-пространство класса «а»</h1>
                <p>В центре делового Ташкента</p>
            </div>
            <div class="main__buttons">
                <a href="##">
                    <svg class="main__buttons_cta cta" viewBox="0 0 200 200">
                        <defs>
                            <path
                                id="circlePath"
                                d="M100,100 m-78,0 a78,78 0 1,1 156,0 a78,78 0 1,1 -156,0"
                            />
                        </defs>
                        <text>
                            <textPath
                                href="#circlePath"
                                startOffset="50%"
                                text-anchor="middle"
                            >
                                • ОСТАВИТЬ ЗАЯВКУ • ОСТАВИТЬ ЗАЯВКУ
                            </textPath>
                        </text>
                    </svg>
                </a>
                <a href="##">
                    <img src="../img/svg/pin.svg" alt="pin">
                    <span>посмотреть<br>панораму</span>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- &_text {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: white;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    pointer-events: none;
    animation: rotateText 12s linear infinite;

    text {
        font-family: inherit;
    }
    @keyframes rotateText {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
} -->