<section class="main" id="main">
    <video src="../video/intro.mp4" preload="auto" loop muted autoplay></video>
    <div class="main__container">
        <div class="main__content">
            <div class="main__titlebox">
                <h1>современное<br />бизнес-пространство класса «а»</h1>
                <p>В центре делового Ташкента</p>
                <a href="##" class="choose mobile-only">
                    <span>ВЫБРАТЬ ПОМЕЩЕНИЕ</span>
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M9 7V0H7V7H0V9H7V16H9V9H16V7H9Z"
                            fill="white"
                        />
                    </svg>
                </a>
            </div>
            <div class="main__buttons">
                <a href="##" class="cta__box">
                    <svg class="main__buttons_cta cta" viewBox="0 0 200 200">
                        <defs>
                            <path
                                id="circlePath"
                                d="M100,100 m-78,0 a78,78 0 1,1 156,0 a78,78 0 1,1 -156,0"
                            />
                        </defs>
                        <text>
                            <textPath
                                href="#circlePath"
                                startOffset="50%"
                                text-anchor="middle"
                            >
                                • ОСТАВИТЬ ЗАЯВКУ • ОСТАВИТЬ ЗАЯВКУ
                            </textPath>
                        </text>
                    </svg>
                    <svg
                        class="main__buttons_cta-arrow "
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0 0V1.95279H12.2928L0 14.2456L1.37672 15.6223L13.6695 3.32951V15.6223H15.6223V0H0Z"
                            fill="white"
                        />
                    </svg>
                </a>
                <a href="##" class="main__buttons_view">
                    <img src="../img/svg/pin.svg" alt="pin" />
                    <span>посмотреть<br />панораму</span>
                </a>
            </div>
        </div>
    </div>
</section>
