<section class="popup">
    <div class="popup__box">
        <img src="../img/svg/close.svg" alt="close" />
        <div class="popup__title title">Оставить заявку</div>
        <div class="popup__subtitle subtitle">
            Хотите узнать подробнее? Оставьте Ваши контакты и мы перезвоним Вам
        </div>
        <div class="popup__forms">
            <input type="text" placeholder="Имя">
            <input type="tel" placeholder="Телефон">
        </div>
        <div class="popup__confidential">
            Нажимая на кнопку “Отправить”, вы соглашаетесь с <a href="##">Политикой конфиденциальности</a>
        </div>
        <a href="##" class="popup__send">отправить заявку <img src="../img/svg/send.svg" alt="send"></a>
    </div>
    <div class="popup__overlay overlay">
    </div>
</section>
