<section class="rent" id="rent">
    <div class="rent__bg-title bg-title">условия аренды</div>
    <div class="rent__container">
        <div class="rent__subtitle subtitle animate-in">
            <img src="../img/svg/star.svg" alt="star" />
            <span>Условия аренды</span>
        </div>
        <div class="rent__columns animate-in">
            <div class="rent__content animate-in">
                <div class="rent__content_title title">
                    Предлагаем гибкие условия для компаний любого масштаба
                </div>
                <ul class="rent__content_list animate-in">
                    <li class="rent__content_list-item">
                        <img src="../img/svg/golden-plus.svg" alt="plus" />
                        <span>От небольших офисов до целых этажей</span>
                    </li>
                    <li class="rent__content_list-item">
                        <img src="../img/svg/golden-plus.svg" alt="plus" />
                        <span>Возможность объединения помещений</span>
                    </li>
                    <li class="rent__content_list-item">
                        <img src="../img/svg/golden-plus.svg" alt="plus" />
                        <span
                            >Дизайнерская отделка под запрос арендатора. White
                            Box формат позволяет адаптировать пространство под
                            индивидуальные задачи – от представительского офиса
                            до креативной студии</span
                        >
                    </li>
                    <li class="rent__content_list-item">
                        <img src="../img/svg/golden-plus.svg" alt="plus" />
                        <span>Аренда серверных мощностей</span>
                    </li>
                    <li class="rent__content_list-item">
                        <img src="../img/svg/golden-plus.svg" alt="plus" />
                        <span
                            >Организация IT-инфраструктуры и
                            телекоммуникаций</span
                        >
                    </li>
                </ul>
                <a href="##" class="rent__choose choose golden">
                    <span>рассчитать стоимость аренды</span>
                    <svg
                        class="rent__content_choose-arrow"
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0 0V1.95279H12.2928L0 14.2456L1.37672 15.6223L13.6695 3.32951V15.6223H15.6223V0H0Z"
                            fill="white"
                        />
                    </svg>
                </a>
            </div>
            <div class="rent__swiper swiper-container">
                <div class="rent__wrapper swiper-wrapper">
                    <div class="rent__slide swiper-slide">
                        <img src="../img/jpg/rent01.jpg" alt="rent" />
                    </div>
                    <div class="rent__slide swiper-slide">
                        <img src="../img/jpg/rent02.jpg" alt="rent" />
                    </div>
                    <div class="rent__slide swiper-slide">
                        <img src="../img/jpg/rent03.jpg" alt="rent" />
                    </div>
                    <div class="rent__slide swiper-slide">
                        <img src="../img/jpg/rent04.jpg" alt="rent" />
                    </div>
                    <div class="rent__slide swiper-slide">
                        <img src="../img/jpg/rent05.jpg" alt="rent" />
                    </div>
                    <div class="rent__slide swiper-slide">
                        <img src="../img/jpg/rent06.jpg" alt="rent" />
                    </div>
                    <div class="rent__slide swiper-slide">
                        <img src="../img/jpg/rent07.jpg" alt="rent" />
                    </div>
                    <div class="rent__slide swiper-slide">
                        <img src="../img/jpg/rent08.jpg" alt="rent" />
                    </div>
                    <div class="rent__slide swiper-slide">
                        <img src="../img/jpg/rent09.jpg" alt="rent" />
                    </div>
                </div>
                <div class="rent__navigation">
                    <span>
                        <svg
                            class="rent__navigation_prev"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M16 20L8 12L16 4"
                                stroke="#D8B86F"
                                stroke-width="2"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </span>
                    <div class="rent__pagination swiper-pagination"></div>
                    <span
                        ><svg
                            class="rent__navigation_next"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M16 12L16.7071 12.7071C17.0976 12.3166 17.0976 11.6834 16.7071 11.2929L16 12ZM8.70711 3.29289L8 2.58579L6.58579 4L7.29289 4.70711L8 4L8.70711 3.29289ZM8 20L8.70711 20.7071L16.7071 12.7071L16 12L15.2929 11.2929L7.29289 19.2929L8 20ZM16 12L16.7071 11.2929L8.70711 3.29289L8 4L7.29289 4.70711L15.2929 12.7071L16 12Z"
                                fill="#D8B86F"
                            />
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
