<section class="service" id="service">
    <div class="service__bg-undertitle bg-title-bottom">Услуги</div>
    <div class="service__container">
        <div class="service__subtitle subtitle animate-in">
            <img src="../img/svg/star.svg" alt="star" />
            <span>Услуги</span>
        </div>
        <div class="service__content_title title">
            Локации<br>на территории бизнес-центра
        </div>
        <div class="service__swiper swiper-container">
            <div class="service__wrapper swiper-wrapper">
                <div class="service__slide swiper-slide">
                    <div class="service__content">
                        <!-- <div class="service__content_img mobile-only">
                            <img src="../img/jpg/service01.jpg" alt="service" />
                        </div> -->
                        <div class="service__content_golden">
                            Ресепшн и лобби-зона<br />Премиум-класса
                        </div>
                    </div>
                    <div class="service__image">
                        <img src="../img/jpg/service01.jpg" alt="service" />
                    </div>
                </div>
                <div class="service__slide swiper-slide">
                    <div class="service__content">
                        <!-- <div class="service__content_img mobile-only">
                            <img src="../img/jpg/service02.jpg" alt="service" />
                        </div> -->
                        <div class="service__content_golden">
                            Кафе и лаунж-пространства
                        </div>
                    </div>
                    <div class="service__image">
                        <img src="../img/jpg/service02.jpg" alt="service" />
                    </div>
                </div>
                <div class="service__slide swiper-slide">
                    <div class="service__content">
                        <!-- <div class="service__content_img mobile-only">
                            <img src="../img/jpg/service03.jpg" alt="service" />
                        </div> -->
                        <div class="service__content_golden">
                            Конференц-залы <br>и переговорные
                        </div>
                    </div>
                    <div class="service__image">
                        <img src="../img/jpg/service03.jpg" alt="service" />
                    </div>
                </div>
                <div class="service__slide swiper-slide">
                    <div class="service__content">
                        <!-- <div class="service__content_img mobile-only">
                            <img src="../img/jpg/service04.jpg" alt="service" />
                        </div> -->
                        <div class="service__content_golden">
                            Терраса для мероприятий
                        </div>
                    </div>
                    <div class="service__image">
                        <img src="../img/jpg/service04.jpg" alt="service" />
                    </div>
                </div>
                <div class="service__slide swiper-slide">
                    <div class="service__content">
                        <!-- <div class="service__content_img mobile-only">
                            <img src="../img/jpg/service05.jpg" alt="service" />
                        </div> -->
                        <div class="service__content_golden">
                            Зона для съёмок <br>и презентаций
                        </div>
                    </div>
                    <div class="service__image">
                        <img src="../img/jpg/service05.jpg" alt="service" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
