<section class="service">
    <div class="service__bg-undertitle bg-title-bottom">Услуги</div>
    <div class="service__container">
        <div class="service__subtitle subtitle">
            <img src="../img/svg/star.svg" alt="star" />
            <span>Услуги</span>
        </div>
        <div class="service__columns">
            <div class="service__content">
                <div class="service__content_title title">
                    Локации на территории бизнес-центра
                </div>
                <div class="service__content_img mobile-only">
                    <img src="../img/jpg/service.jpg" alt="service">
                </div>
                <div class="service__content_golden">
                    Ресепшн и лобби-зона<br />Премиум-класса
                </div>
            </div>
            <div class="service__image desktop-only">
                <img src="../img/jpg/service.jpg" alt="service" />
            </div>
        </div>
    </div>
</section>
