<section class="solution">
    <div class="solution__slider">
        <div class="solution__slide">
            <div class="solution__container">
                
                <div class="solution__subtitle subtitle">
                    <img src="../img/svg/star.svg" alt="star" />
                    <span>Параметры</span>
                </div>
                <div class="solution__title title">
                    Современные инженерные решения
                </div>
                <div class="solution__text text">
                    Современные системы безопасности, комфортный микроклимат
                    круглый год и высокотехнологичное оснащение положительно
                    влияют на эффективность работы и благополучие сотрудников.
                </div>
                <a href="##" class="solution__choose choose">
                    <span>ВЫБРАТЬ ПОМЕЩЕНИЕ</span>
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M9 7V0H7V7H0V9H7V16H9V9H16V7H9Z" fill="white" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
