<section class="solution" id="solution">
    <div class="solution__slider ">
        <div class="solution__slide">
            <div class="solution__container ">
                <img
                    class="solution__img"
                    src="../img/jpg/solution01.jpg"
                    alt="solution"
                />
                <div class="solution__content animate-in">
                    <div class="solution__subtitle subtitle">
                        <img src="../img/svg/star.svg" alt="star" />
                        <span>Параметры</span>
                    </div>
                    <div class="solution__title title">
                        Современные инженерные решения
                    </div>
                    <div class="solution__text text">
                        Современные системы безопасности, комфортный микроклимат
                        круглый год и высокотехнологичное оснащение положительно
                        влияют на эффективность работы и благополучие
                        сотрудников.
                    </div>
                    <a href="##" class="solution__choose choose golden">
                        <span>ВЫБРАТЬ ПОМЕЩЕНИЕ</span>
                        <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M9 7V0H7V7H0V9H7V16H9V9H16V7H9Z"
                                fill="white"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="solution__slide">
            <div class="solution__container ">
                <img
                    class="solution__img"
                    src="../img/jpg/solution02.jpg"
                    alt="solution"
                />
                <div class="solution__content">
                    <div class="solution__title title">
                        Скоростные бесшумные лифты
                    </div>
                    <div class="solution__text text">
                        4 скоростных лифтов OTIS с интеллектуальной системой
                        управления
                    </div>
                </div>
            </div>
        </div>
        <div class="solution__slide">
            <div class="solution__container">
                <img
                    class="solution__img"
                    src="../img/jpg/solution03.jpg"
                    alt="solution"
                />
                <div class="solution__content">
                    <div class="solution__title title">«Умный» паркинг</div>
                    <div class="solution__text text">
                        Удобный въезд в подземный паркинг, площадью 3 000 м², на
                        165 машино-мест, зону посадки-высадки пассажиров перед
                        центральным входом, а также наземный паркинг на
                        прилегающей территории, площадью 2000 м² с зарядными
                        станциями для электромобилей.
                    </div>
                </div>
            </div>
        </div>
        <div class="solution__slide">
            <div class="solution__container">
                <img
                    class="solution__img"
                    src="../img/jpg/solution04.jpg"
                    alt="solution"
                />
                <div class="solution__content">
                    <div class="solution__title title">
                        Система умного доступа и безопасности
                    </div>
                    <ul class="solution__list">
                        <li class="text">Доступ по биометрии и QR-коду</li>
                        <li class="text">24/7 охрана и видеонаблюдение (CCTV)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="solution__slide">
            <div class="solution__container">
                <img
                    class="solution__img"
                    src="../img/jpg/solution05.jpg"
                    alt="solution"
                />
                <div class="solution__content">
                    <div class="solution__title title">
                        Комфортный микроклимат круглый год
                    </div>
                    <ul class="solution__list">
                        <li class="text">Кондиционирование: система LG VRF</li>
                        <li class="text">
                            Вентиляция: AVENTOS AHU, трёхступенчатая фильтрация
                            последнего поколения
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="solution__slide">
            <div class="solution__container">
                <img
                    class="solution__img"
                    src="../img/jpg/solution06.jpg"
                    alt="solution"
                />
                <div class="solution__content">
                    <div class="solution__title title">
                        Бесперебойное электроснабжение
                    </div>
                    <ul class="solution__list">
                        <li class="text">UPS</li>
                        <li class="text">Генераторы</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="solution__slide">
            <div class="solution__container">
                <img
                    class="solution__img"
                    src="../img/jpg/solution07.jpg"
                    alt="solution"
                />
                <div class="solution__content">
                    <div class="solution__title title">
                        Доступ к интернету 24/7
                    </div>
                    <ul class="solution__list">
                        <li class="text">Высокоскоростной оптоволоконный интернет</li>
                        <li class="text">
                            Кибербезопасность и серверные помещения для аренды
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="solution__slide">
            <div class="solution__container">
                <img
                    class="solution__img"
                    src="../img/jpg/solution08.jpg"
                    alt="solution"
                />
                <div class="solution__content">
                    <div class="solution__title title">Интеллектуальная система управления зданием (BMS)</div>
                    <div class="solution__text text">
                        Интегрирует системы отопления, вентиляции, освещения,
                        безопасности, управления энергией и другие ключевые
                        системы для оптимизации производительности и
                        эффективности.
                    </div>
                </div>
            </div>
        </div>
        <div class="solution__slide">
            <div class="solution__container">
                <img
                    class="solution__img"
                    src="../img/jpg/solution09.jpg"
                    alt="solution"
                />
                <div class="solution__content">
                    <div class="solution__title title">White Box отделка</div>
                    <div class="solution__text text">
                        Свободная планировка и возможность дизайнерской отделки
                        под клиента
                    </div>
                </div>
            </div>
        </div>
        <div class="solution__slide">
            <div class="solution__container">
                <img
                    class="solution__img"
                    src="../img/jpg/solution10.jpg"
                    alt="solution"
                />
                <div class="solution__content">
                    <div class="solution__title title">Консьерж-сервис</div>
                    <div class="solution__text text">
                        Круглосуточная поддержка арендаторов
                    </div>
                </div>
            </div>
        </div>
        <div class="solution__slide">
            <div class="solution__container">
                <img
                    class="solution__img"
                    src="../img/jpg/solution11.jpg"
                    alt="solution"
                />
                <div class="solution__content">
                    <div class="solution__title title">
                        Сервисная команда на объекте
                    </div>
                    <ul class="solution__list">
                        <li class="text">Клининг</li>
                        <li class="text">Решение мелких бытовых вопросов</li>
                        <li class="text">Системный администратор</li>
                        <li class="text">Дополнительные сервисные услуги</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
