<section class="target">
    <div class="target__container">
        <div class="target__subtitle subtitle-white animate-in">
            <svg
                width="18"
                height="20"
                viewBox="0 0 18 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M18 9.77143C10.0559 10.4047 9.58315 10.9177 9.00015 19.5429C8.41686 10.918 7.94439 10.4047 0 9.77143C7.94411 9.13816 8.41686 8.6252 9.00015 0C9.58315 8.6252 10.0559 9.13847 18 9.77143Z"
                    fill="white"
                />
            </svg>
            Целевая аудитория
        </div>  
        <div class="target__columns animate-in">
            <div class="target__content">
                <div class="target__content_title title">Для кого этот центр</div>
            </div>
            <div class="target__items">
                <div class="target__item">
                    <img src="../img/svg/golden-plus.svg" alt="golden-plus">
                    <span>IT-компании</span>
                </div>
                <div class="target__item">
                    <img src="../img/svg/golden-plus.svg" alt="golden-plus">
                    <span>Консалтинговые агентства</span>
                </div>
                <div class="target__item">
                    <img src="../img/svg/golden-plus.svg" alt="golden-plus">
                    <span>Международные представительства</span>
                </div>
            </div>
        </div>
    </div>
</section>
