<section class="up desktop-only">
    <div class="up__container">
        <div class="up__up">
            <a href="#main">
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 48 48"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <rect
                        y="48"
                        width="48"
                        height="48"
                        rx="24"
                        transform="rotate(-90 0 48)"
                        fill="white"
                    />
                    <rect
                        id="scroll-border"
                        x="1"
                        y="1"
                        width="46"
                        height="46"
                        rx="23"
                        stroke="#72584F"
                        stroke-opacity="0.25"
                        stroke-width="2"
                        fill="none"
                        pathLength="100"
                    />
                    <path
                        d="M24 30V18M24 18L18 23.25M24 18L30 23.25"
                        stroke="#72584F"
                        stroke-opacity="0.6"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </a>
        </div>
    </div>
</section>
