@use "base/reset";
@use "base/fonts";
@use "base/vars";
@use "base/root";
@use "base/mixin" as *;
@use "base/common";
@use "components/main";
@use "components/header";

[class*="__container"] {
    max-width: 1680px;
    margin: 0 auto;
    padding: 0px 15px;
    min-width: 0;
}
body {
    color: var(--black);
    font-family: var(--suisse);
    font-weight: 400;
}
