@use "base/reset";
@use "base/fonts";
@use "base/vars";
@use "base/root";
@use "base/mixin" as *;
@use "base/common";
@use "components/main";
@use "components/header";
@use "components/condition";
@use "components/menu";
@use "components/popup";
@use "components/comfort";
@use "components/facade";
@use "components/design";
@use "components/solution";
@use "components/sentence";
@use "components/target";
@use "components/rent";
@use "components/service";
@use "components/gallery";
@use "components/contacts";
@use "components/footer";
@use "components/building";
@use "components/up";


[class*="__container"] {
    max-width: 1690px;
    margin: 0 auto;
    padding: 0px 15px;
    min-width: 0;
}

body {
    color: var(--black);
    font-family: var(--suisse);
    font-size: 16px;
    font-weight: 450;
    overscroll-behavior: none;
    
    &.lock {
        overflow: hidden;
    }
}
