@use "base/reset";
@use "base/fonts";
@use "base/vars";
@use "base/root";
@use "base/mixin" as *;
@use "base/common";
@use "components/main";
@use "components/header";
@use "components/condition";
@use "components/menu";
@use "components/popup";
@use "components/comfort";
@use "components/facade";


[class*="__container"] {
    max-width: 1690px;
    margin: 0 auto;
    padding: 0px 15px;
    min-width: 0;
}
body {
    color: var(--black);
    font-family: var(--suisse);
    font-size: 16px;
    font-weight: 450;
    
    &.lock {
        overflow: hidden;
    }
}
